.btn-secondary:hover{
	background-color:GAINSBORO;
	border-color:GAINSBORO;
	color:black;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem grey;
	border-color:grey;
}
#dropdown01{
	margin-top:10px;
}
#despegable{
	margin-top:-30px;
}