<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Principal</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="img/bank.ico" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#" th:text="${usuario.nombre}"></a>
			<button class="navbar-toggler" type="button"
				data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="true"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link" href="#">Saldo</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">Movimientos</a></li>
					<li class="nav-item active"><a class="nav-link" th:href="@{listadodecuenta(idUsuario=${usuario.id})}">Cuenta</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
							<table class="table col col-lg-12">
								<thead>
									<tr>
										<th scope="col">Numero Cuenta</th>
										<th scope="col">Nombre Titular</th>
										<th scope="col">Saldo</th>
										<th scope="col">Acciones</th>										
									</tr>
								</thead>
								<tbody>
									<tr th:each="cuentasUsuario : ${cuentasUsuario}">
										<td th:text="${cuentasUsuario.numCuenta}"></td>
										<td th:text="${cuentasUsuario.nomBanco}"></td>
										<td th:text="${cuentasUsuario.saldo}"></td>	
										<td><a
											th:href="@{deletePersonas(idpersonas=${persona.idpersonas})}">Ingresar</a>
											<a
											th:href="@{deletePersonas(idpersonas=${persona.idpersonas})}">Retirar</a>
											<button type="submit" class="btn btn-primary">Borrar</button>
										</td>				
									</tr>

								</tbody>
							</table>
							</div>
</body>
</html>




